body{
      display: flex;
      flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fafafa;
  margin: 0;
}
.top-link{
    position:absolute;
    top:20px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}
.circle-first{
     width: 50px;
    height: 50px;
    border-radius: 50%;
    background:black;
    animation-name: move;
    animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: none;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:black;
     animation-name: move3;
    animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: none;
}
.circle-last{
     width: 50px;
    height: 50px;
    border-radius: 50%;
    background:blue;
    animation-name: move2;
    animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: none;
}
@keyframes move{
    0%{
        background:black;
        transform: translateX(0)
    }
    30%{
        background:rgb(0, 255, 251);
        transform: translateX(-200px)
    }
    60%{
        background:black;
        transform: translateX(0)
    }
    100%{
        background: black;
        transform: translateX(0)
    }

}
@keyframes move2{
     0%{
        background:black;
        transform: translateX(0)
    }
    40%{
        background:black;
        transform: translateX(0)
    }
    70%{
        background:cyan;
        transform: translateX(200px)
    }
    100%{
        background: black;
        transform: translateX(0)
    }
}
@keyframes move3{
     0%{
        background:black;
        transform: translateX(0)
    }
    28%{
        background:cyan;
        transform: translateX(20px)
    }
    80%{
        background: cyan;
        transform: translateX(-20px)
    }
    100%{
        background: black;
        transform: translateX(0)
    }
}